In [1]:
%run pyhton.py

hello world

In [2]:
#Value 

Number No inverted comma 
string ""
Boolean No Inverted comma

SyntaxError: invalid syntax (Temp/ipykernel_4912/2716174783.py, line 3)

## python

##python

In [ ]:
## python
#shift +Enter krke heading bn jayegi

In [ ]:
#print print is a python built in function/statement ()

In [ ]:
print ("pakistan Zindabad")
#Funcname     Arguments
#Comment

In [ ]:
print("Iam a string value",11,12,True,False,sep=" ")

#print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

In [ ]:
#In() Execution number kehlata hai (left side pe jo curly bracket hai)

In [ ]:
\n \t Excape character

In [ ]:
print("python for \n \t all")

In [ ]:
print("pakistan Zindabad",end="\n")
print("pakistan Zindabad")

In [ ]:
#date type in python

## Variable for string

In [ ]:
Age =21.7


#age is vaiable
#21.7 is a value 
= assignment operator

##What is variable = 

variable is the identifier which stores data in it

## Data type in python

In [ ]:
Integer (whole number )
Float (Decimal value )
string
Boolean ( T , F)

In [4]:
Name="huzaifa"

In [5]:
Name

'huzaifa'

In [6]:
id(Name)  ye iska addres btaraha hai

SyntaxError: invalid syntax (Temp/ipykernel_1500/2353074128.py, line 1)

In [7]:
type(Name)

str

In [ ]:
Name=2

In [ ]:
Name

In [ ]:
type(Name)

# Operators

In [ ]:
**#Addition(+)
  #Subtraction(-)
  # multiply (*)
    #Divide (/ or //)**

In [ ]:
Marks=4

In [ ]:
Age=2

In [8]:
Age+5

NameError: name 'Age' is not defined

In [9]:
Marks +Age

NameError: name 'Marks' is not defined

In [ ]:
Age=Age+1

In [ ]:
Marks +Age

In [ ]:
Age+=1

In [ ]:
print(Age)

In [10]:
10/3

#Float me value ayegi

3.3333333333333335

In [11]:
10//3
#// double slash use krne se decimal part remove hojayega

3

In [ ]:
##Floor Division ( value km krna ) and Ceil Divison ( value barh jana )

# Floor and Ceil ( Sub topic)

In [19]:
import math

In [22]:
import math
math.floor(23.5) #previous Number

23

In [23]:
math.ceil(23.52) #next number

24

In [ ]:
import math as n

print(n.floor(23.1))
print(n.ceil(23.5))

In [24]:
a="huzaifa"
print(a)
a="huzaifa abha "
print(a)

huzaifa
huzaifa abha

## variable names Legal and Illegel

In [ ]:
Else =" huzaifa"

Reserved word cannot used

In [ ]:
Special Characters . ?

In [ ]:
father_Name ="Waseem "

In [3]:
Student= "huzaifa"

In [4]:
Studentwaseem =" huzaifa"

In [5]:
print(Studentwaseem)

 huzaifa

In [6]:
import sys
print(sys.getsizeof(Studentwaseem))

57

## User Input

In [18]:
age=input("Enter your age : ")
Name=input("Enter your name : ")
print("My name is :", Name,"\nAnd age is :",age)

Enter your age : 2
Enter your name : huz
My name is : huz
And age is : 2

In [8]:
type(age)

str

In [9]:
b = 2

In [10]:
type(b)

int

In [11]:
c =2
type(c)

int

## String Concatenation

In [12]:
First_name = " Huzaifa"
last_name = "Abha"

In [13]:
a= First_name + " " + last_name
print(a)

 Huzaifa Abha

In [14]:
+Operator 

Int =int +int addition 
String +String  Concatenation

SyntaxError: invalid syntax (Temp/ipykernel_4912/3819299957.py, line 3)

In [25]:
First_name = 2
last_name = "Abha"
a= First_name + " " + last_name
print(a)
,

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
Name = "abha"
age = " 22"
a= "my name is : " +Name +" and age is:" +age
print(a)

my name is : abha and age is: 22

## type casting

In [20]:
age=int(input("Enter your age : "))
Name=input("Enter your name : ")
print("My name is :"+ Name +" And age is :"+str(age))

Enter your age : 25
Enter your name : 25
My name is :25 And age is :25

In [21]:
int("515")

515

## String Formation

In [28]:
Company = input("Enter the company name")
number_of_units= int(input("how many unit sold out :" ))
price_per_unit =int(input("Enter the price per unit : "))
print("you have ordered {} units from the company {} and the per unit price {}".format(number_of_units,Company,price_per_unit))

Enter the company namesaylani
how many unit sold out :25
Enter the price per unit : 20
you have ordered 25 units from the company saylani and the per unit price 20

In [9]:
Company = input("Enter the company name")
number_of_units= int(input("how many unit sold out :" ))
price_per_unit =int(input("Enter the price per unit : "))
print("you have ordered " + str(number_of_units)+" from the company " + Company +  "and the per unit price " + str(price_per_unit ))

Enter the company nametecno
how many unit sold out :25
Enter the price per unit : 20
you have ordered 25 from the companytecnoand the per unit price 20

## String formation ( Direct method)


Name = "huzaifa"
father_name = "waseem "

print(f"My name is {Name} and my father name is {father_name}")

In [27]:
## String formation ( Indexing  method using format)

print("i am {} I am {} yrs old and I admitted in {}".format( "huzaifa", "29 ", "saylani"))

i am huzaifa I am 29  yrs old and I admitted in saylani

In [35]:
Name =" huzaifa"
age = "29"
institute = "saylani"

f"i am {Name} I am {age} yrs old and I admitted in {institute}" # f use krnay se indexing ab direct usko consider nai krega

'i am  huzaifa I am 29 yrs old and I admitted in saylani'

## String can be used as " " ,' ',''' '''

In [ ]:
print('I am all students of "Saylani Institute "') #Single quote use kiya hai double quote ko use krnay ke liye

In [37]:
print("I am all students of \"Saylani Institute \"") # Slash use kiya hai double quote me rakhnay ke liye

I am all students of "Saylani Institute "

 ## New topic (Multiline string formation )

In [1]:
print("         Saylani Mass IT training \n\n Name : Huzaifa \n Course : AI and DS \n ")

         Saylani Mass IT training

 Name : Huzaifa
 Course : AI and DS

In [3]:
Student_name = input(" Enter student name: ")
father_name =input(" Enter father name: ")
coursetime = input(" Enter course time")

print(f""" \n     Saylani Mass Program

Name :{Student_name}
father name : {father_name}
Time : {coursetime}

""")

 Enter student name: huzaifa
Enter father name: waseem
Enter course time7

     Saylani Mass Program

Name :huzaifa
father name : waseem
Time : 7

In [26]:
a="i am Huzaifa waseem and I live in north karachi"

a.find("huzaifa") # 1 ) -1 ka mtlb hai ke letter nai mila  2) -1 last letter ko find krnay ke liye use houta hai

-1

In [26]:
a.count(a)

1

In [9]:
a.capitalize()

'I am huzaifa waseem and i live in north karachi'

In [10]:
a.upper()

'I AM HUZAIFA WASEEM AND I LIVE IN NORTH KARACHI'

In [12]:
a.lower()

'i am huzaifa waseem and i live in north karachi'

In [22]:
a.find("i",32)

46

In [17]:
a.find("and")

20

In [27]:
a.casefold()

'i am huzaifa waseem and i live in north karachi'

In [29]:
a.index("Huzaifa")

5

In [31]:
# isalpha  # check whether it is alphabet aur not and result is trueand false

In [32]:
Country = " Pakistan "

In [36]:
Country.lstrip()  # srf left wali ke space khtam krega
# Country.rstrip() # right walay ke space khtam
# Country.strip()  #both space khtam krega

'Pakistan '

In [37]:
# string is iterable but it is immutable  # iterable ka mtlb has alg alg character ko istemal krsktay hain # immutable means cannot change orignal value

SyntaxError: invalid syntax (Temp/ipykernel_9872/1756819464.py, line 1)

In [ ]:
Join

In [42]:
abc = " huzaifa "

print("Hello {} , Welcome to the  Python crash program ". format(abc))

Hello  huzaifa  , Welcome to the  Python crash program

### Exercise 1

In [50]:


abc = " huzaifa "

print(f"Hello {abc} , Welcome to the  Python crash program ")

print(abc.lower())
print(abc.upper())
print(abc.capitalize())
print(abc.lstrip())
print(abc.rstrip())
print(abc.strip())

SyntaxError: unexpected character after line continuation character (Temp/ipykernel_1500/4254663586.py, line 11)

In [41]:
print('Albert Einstein once said ,"A person who never made a \nmistake never  tried anything new"' )

Albert Einstein once said ,"A person who never made a
mistake never  tried anything new"

## More on operators

= assignment 
== equals to 
!= not equals to
** not equal to 
% modulus
> gretaer than
< less than 
>= greter than equal to 
<= less than equal to 
and  (logical and )
or ( logical or)

In [54]:
a=2
b=4 
a==b
a!=b

True

In [55]:
10%3

1

In [56]:
9%3

0

## Logcal and logical or 


R1        R2          or         and
T          T         T           T 
T          F         T            F
F          T         T            F
F          F         F            F

In [60]:
10>5 or 5<2

True

In [61]:
10>5 and  5<2

False

## If statement

In [7]:
num1=int(input("Enter a number of your choice "))
num2=int(input("Enter another number"))
if num1==num2:
    print(f"Number {num1} is equal to number {num2}")
    
else:   
    print(" {} is not equal to {} ")

Enter a number of your choice 2
Enter another number2
Number 2 is equal to number 2

In [ ]:
num1=int(input("Enter a number of your choice "))
num2=int(input("Enter another number"))
if num1==num2:
    print(f"Number {num1} is equal to number {num2}")
    
elif num1>num2:
         print(f"{num1} is greater than  {num2} ")
elif num1<num2:
        print (f"{num1} is less  than  {num2} ")
else:
    
    print(" Number doesnot exist")

In [7]:
num=int(input("Enter Number : "))

if num % 5 ==0:
    print("it is divisble by 5")

elif num % 7 == 0:
    print("it is divisble by 7")
else:
    print(f"{num} is not divisible by 5 or 7")

Enter Number 21
it is divisble by 7

In [9]:
print('''
Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are
''')

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [2]:
num=int(input("Enter Number : "))

if (num%5==0) or (num%7==0):
    print(f"{num} is divisible by 5 or 7")
    
else:
    print(f"{num} is not divisible by 5 or 7")

Enter Number : 9
9 is not divisible by 5 or 7

## Class 5 23-May

In [ ]:

Student_name = input("Enter Student name :")
Num1 = float(input(" Enter Physics mark :"))
Num2 = (float(input(" Enter Maths mark :")))
Num3 = (float(input(" Enter Chem mark :")))
Num4 = (float(input(" Enter Comp mark :")))
Num5 = (float(input(" Enter Urdu mark :")))

Obtained_marks=round( Num1+Num2+Num3+Num4+Num5)

percentage = (Obtained_marks/500)*100
print(percentage)
percentage=round(percentage)
grade= None  ### yahan pe grade a variable assign kiya hai

if percentage >=80 and percentage < 100:
     grade ="A+"

elif percentage >=70 and percentage < 80:
    grade ="A"
    
elif percentage >=60 and percentage < 70:
    grade ="B"
    
elif percentage >=50 and percentage < 60:
    grade ="C"
else:
    grade ="F"
    
print(f"""  
                      *************************************************************************
                      *                      SMIT Training Institute                           *
                      *                                                                        *
                      **************************************************************************

                                      Student name : {Student_name}
                                      
                                      Physics Marks : {Num1} 
                                      
                                      Mathematics  Marks : {Num2}
                                      
                                      Chemistry Marks : {Num3}
                                      
                                      Computer Marks : {Num4}
                                      
                                      urdu Marks : {Num5}
-------------------------------------
Obtained marks :{Obtained_marks}     -

Percentage : {percentage} %            -

Grade : {grade}                      -
                                     -
--------------------------------------                                     
""")

## Nested IF's

In [1]:
user_name ="huzaifa abha"
pass_word ="123"

username= input("Enter your username :")


if username == user_name :
    password= input("Enter your Password :")
    
    if password == pass_word:
        print("Login Approved")
    else:
        print("Wrong password")
else:
    print(" username doesnot exist")

Enter your username :huzaifa
 username doesnot exist

In [ ]:
user_name ="huzaifa abha"
pass_word ="123"

username= input("Enter your username :")


if username == user_name :
    password= input("Enter your Password :")
    
    if password == pass_word:
        
        print("Login Approved")
        
        Student_name = input("Enter Student name :")
        Num1 = float(input(" Enter Physics mark :"))
        Num2 = (float(input(" Enter Maths mark :")))
        Num3 = (float(input(" Enter Chem mark :")))
        Num4 = (float(input(" Enter Comp mark :")))
        Num5 = (float(input(" Enter Urdu mark :")))

        Obtained_marks=round( Num1+Num2+Num3+Num4+Num5)

        percentage = (Obtained_marks/500)*100
        print(percentage)
        percentage=round(percentage)
        grade= None  ### yahan pe grade a variable assign kiya hai

        if percentage >=80 and percentage < 100:
                grade ="A+"

        elif percentage >=70 and percentage < 80:
                grade ="A"
    
        elif percentage >=60 and percentage < 70:
               grade ="B"
     
        elif percentage >=50 and percentage < 60:
                grade ="C"
        else:
                grade ="F"
    
        print(f"""  
                      *************************************************************************
                      *                      SMIT Training Institute                           *
                      *                                                                        *
                      **************************************************************************

                                      Student name : {Student_name}
                                      
                                      Physics Marks : {Num1} 
                                      
                                      Mathematics  Marks : {Num2}
                                      
                                      Chemistry Marks : {Num3}
                                      
                                      Computer Marks : {Num4}
                                      
                                      urdu Marks : {Num5}
                                      -------------------------------------
                                 Obtained marks :{Obtained_marks}     -

                                 Percentage : {percentage} %            -

                                 Grade : {grade}                      -
                                     -
                                  --------------------------------------                                     
              """)
       
    else:
        print("Wrong password")
else:
    print("Wrong user name ")

In [122]:


# ## Assignment 
# 1) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Ask user for their salary and year of service and print the net bonus amount.
# In[9]:


Salary = int(input("Enter your salary : "))
Service_year = int(input("Enter your Service year : "))
New_salary = None 
if Service_year > 5:
    New_salary= Salary + Salary * 0.05
    print(f"your new salary is {New_salary}")
else:
    print(f"you salary is {Salary} and you are not eligible for bonus")
    


# In[ ]:


#2 Write a program to check whether a person is eligible for voting or not. (accept age from user


# In[10]:


Age= int(input("Enter your age : "))

if Age >=18 :
    print(" You are Eligible for voting ")
else:
    print(" Your are not Eligible for vote ")

#Q8. Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :
             Unit                                                     Price  
First 100 units                                               no charge
Next 100 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs2000)

# In[16]:


units=int(input("Enter your bills unit "))
a=0
b=0
c=0
if units >0 and units < 100 :
    a=units*10
    total=a
elif units > 100 and units <200:
    
    b = (units-100)*20
    a=100*10
    total = a+b

elif units>200:
    c = (units -200)
    c1=c*30

    d=(units-c)
    e=(d-100)*20
    e1 =(d-100)*10
    #b = 100*20
    #a=100*10
    total = c1+e+e1
    
else:
    print("")
    
print(total)
    
    


# In[ ]:


9 ) Write a program to display the last digit of a number.
(hint : any number % 10 will return the last digit)


# In[27]:


#a=int(input("Enter number :"))
#b=repr(a)
#c=b[-1]
#d=int(c)
#print(d)

a=int(input("Enter number :"))

last_digit= a%10

if last_digit %3==0:
    print(f"{last_digit} is last digit and  It is divisible by 3")


# In[1]:


#12) Take two int values from user and print greatest among them.

num1=int(input("Enter number 1 :"))
num2=int(input("Enter number 2 :"))
if num1>num2 :
    print(" num1 is greater than num2")
else:
    print("num2 is greater ")

14) A shop will give discount of 10% if the cost of purchased quantity is more than 1000.
Ask user for quantity
Suppose, one unit will cost 100.
Judge and print total cost for user.
# In[5]:


quantity = int(input("Enter number of quantity :"))
per_unit_cost = 100
total_cost =quantity*per_unit_cost
new_cost =0
if total_cost>1000:
    new_cost = total_cost - (total_cost*0.10)
    print(f"your new cost is {new_cost}")
else:
    print(f"your cost  is {total_cost} ")


# In[ ]:


#16) Take input of age of 3 people by user and determine oldest and youngest among them.

Age1 = int(input("Enter Age1 :"))
Age2 = int(input("Enter Age2 :"))
Age3 = int(input("Enter Age3 :"))

if Age1>Age2 and Age1>Age2:
    print(person1 age is greater than people 2 and people 3)

SyntaxError: invalid syntax (Temp/ipykernel_7428/3079818537.py, line 3)

## Class 8

## Python data Structure

In [3]:
# List 

Courses = []

In [4]:
Students=["huzaifa" ,"Waseem" ,"ahmed "]
#index       0          1         2
#index       -3         -2        -1

# - Index isliye use houta hai ke last digit ko call krwana ho yaa , last ke 10 ko call krwana ho

In [8]:
Students[0] , Students[-2]

('huzaifa', 'Waseem')

In [9]:
Students[0]="abha"

In [10]:
Students[0]

'abha'

In [12]:
Students

['abha', 'Waseem', 'ahmed ']

In [13]:
#### Crud ( Create , Retrieve , update , Delete )

In [14]:
SMIT = ["AI" , "DS" , "Web"]

In [15]:
SMIT

[' AI', 'DS', 'Web']

In [16]:
del SMIT[2]

In [17]:
SMIT

[' AI', 'DS']

In [23]:
misclist =[SMIT,Students, False ]

In [24]:
misclist

[[' AI', 'DS'], ['abha', 'Waseem', 'ahmed '], False]

Courses.append #append is used for adding new object

In [25]:
misclist.append("hello")

In [26]:
misclist

[[' AI', 'DS'], ['abha', 'Waseem', 'ahmed '], False, 'hello']

In [27]:
misclist.insert(2, " huz")

In [28]:
misclist

[[' AI', 'DS'], ['abha', 'Waseem', 'ahmed '], ' huz', False, 'hello']

In [31]:
abha = misclist.pop(-2)   # variable me store kiy hai

In [30]:
misclist

[[' AI', 'DS'], ['abha', 'Waseem', 'ahmed '], ' huz', 'hello']

In [32]:
abha

' huz'

In [41]:
misclist.remove("hello")

In [42]:
misclist

[[' AI', 'DS'], ['abha', 'Waseem', 'ahmed ']]

In [43]:
misclist.remove(Students)

In [44]:
misclist

[[' AI', 'DS']]

In [47]:
Students

[]

In [46]:
Students

[]

#Important for exam 

#pass by reference  ( Isme ref/address trnasfer houta hai)  val 1= value2  

#pass by value ( Isme value ke through save krwayengay)

In [50]:
new_misclist= misclist.copy()  ## pass by value ke through copy kiya hai jiski waja se miscslist me koi chiz update hogi tou wo micslist me update nai hogi

In [51]:
new_misclist

[[' AI', 'DS']]

In [52]:
misclist.append("abha")

In [53]:
new_misclist

[[' AI', 'DS']]

In [57]:
misclist.count("DS")

0

In [72]:
cars =["honda", "toyota" , "Changan"]

In [73]:
cars

['honda', 'toyota', 'Changan']

In [74]:
my_cars = cars.copy()

In [75]:
my_cars.append("zz")

In [76]:
my_cars.append(" lexus")

In [77]:
cars

['honda', 'toyota', 'Changan']

In [78]:
my_cars.append(cars)

In [79]:
my_cars

['honda', 'toyota', 'Changan', 'zz', ' lexus', ['honda', 'toyota', 'Changan']]

In [80]:
my_cars.extend(cars)

In [81]:
my_cars

['honda',
 'toyota',
 'Changan',
 'zz',
 ' lexus',
 ['honda', 'toyota', 'Changan'],
 'honda',
 'toyota',
 'Changan']

In [84]:
my_cars.pop(5) # pop value deta hai delte krnay ke baad

['honda', 'toyota', 'Changan']

In [85]:
my_cars

['honda', 'toyota', 'Changan', 'zz', ' lexus', 'honda', 'toyota', 'Changan']

In [88]:
my_cars.sort()

In [89]:
my_cars

[' lexus', 'Changan', 'Changan', 'honda', 'honda', 'toyota', 'toyota', 'zz']

# Indexing and Slicing

In [3]:
marks =[90,20,25,204,25,]

In [4]:
marks[3] #indexing

204

In [5]:
marks[1:4]  # less than one tak assign hoga

[20, 25, 204]

In [6]:
marks[2:] # no need to assign second number , it will call number

[25, 204, 25]

In [7]:
marks[:2] #no need to assign first number

[90, 20]

In [8]:
marks[:] # no need to assign first nad second number , call all list

[90, 20, 25, 204, 25]

In [9]:
marks.insert(3,55)

In [11]:
marks

[90, 20, 25, 55, 204, 25]

In [12]:
marks.append(12)

In [13]:
marks

[90, 20, 25, 55, 204, 25, 12]

In [103]:
marks.pop(-2)

25

In [111]:
marks

[20, 25, 55, 204, '10', 10]

In [106]:
del marks[0]

In [112]:
marks

[20, 25, 55, 204, '10', 10]

In [114]:
marks.pop(-2)

'10'

In [115]:
marks

[20, 25, 55, 204, 10]

In [117]:
marks[0:3:2] #Stepping method 
          2 is for stepping

[20, 55]

In [118]:
marks

[20, 25, 55, 204, 10]

In [119]:
marks[::-1] # -1 is used fro stepping

[10, 204, 55, 25, 20]

In [121]:
marks[-1:-4:-2] # -2 is used for stepping

[10, 55]

## For Loop

In [20]:
#to reduce repetition

In [33]:
for i in  range(0,10):    
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [1]:
for i in  range(10,0,-1):    # 
    print(i,end=" ")        # end

10 9 8 7 6 5 4 3 2 1

In [3]:
for i  in range(1,1000):
    if i%3==0:
        break
    
    print(i)

1
2

In [49]:
even=[]
odd=[]

for i in range (1,100):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print("Even=", even)

print(odd)

Even= [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [67]:
even=[]
odd=[]

for i in range (1,100):
    if i%5!=0:               #No need to write modulus of 5 in each odd and even line  so we have first ask initially
        
        if i%2==0:  
                
                even.append(i)                # if i%5!=0 : Nested if can be used for this 
        else: 
            
            odd.append(i)
       

print("Even=", even)

print("Odd=", odd)

Even= [2, 4, 6, 8, 12, 14, 16, 18, 22, 24, 26, 28, 32, 34, 36, 38, 42, 44, 46, 48, 52, 54, 56, 58, 62, 64, 66, 68, 72, 74, 76, 78, 82, 84, 86, 88, 92, 94, 96, 98]
Odd= [1, 3, 7, 9, 11, 13, 17, 19, 21, 23, 27, 29, 31, 33, 37, 39, 41, 43, 47, 49, 51, 53, 57, 59, 61, 63, 67, 69, 71, 73, 77, 79, 81, 83, 87, 89, 91, 93, 97, 99]

In [73]:
for i in range (1,250):
    if i%2==0:
        continue #skip this statement 
    else:
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249

### iterating over a list for loop

In [75]:
list1 =["huzaifa","abha "]

In [76]:
for name in list1:
    print(f"Welcome Mr. {name}")

Welcome Mr. huzaifa
Welcome Mr. abha

In [ ]:
Guest_name=[]
for name in range(5):
    name=input("Enter guest name : ").upper()
    if name=="HUZAIFA" : #or name in Guest_list  :
        continue
        
    else:
        Guest_name.append(name)
print(Guest_name)

## Exercise

In [12]:
1 # counting to twenty

for a in range(1,21):
    
    print(a, end =" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [5]:
list=[]
for a in range (1,1000):
    list.append(a)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [17]:
list=[]

for a in range (1,1000):
    list.append(a)
    
print(min(list))
print(max(list))
print(sum(list))

1
999
499500

In [28]:
List1=[]
for a in range(3,30):
    if a%3==0:
        
        List1.append(a)
    
print(List1)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [29]:
#third argument of list means stepping 
List1=[]
for a in range(1,20,3):
    if a%2!=0:
        
        List1.append(a)
    
print(List1)

[1, 7, 13, 19]

## List Comprehension

In [32]:
#Without list comprehension

square=[]
for a in range (1,10):
    sq=a**2
    square.append(sq)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
Squares=[a**2 for a in range(1,10)]         #With list comprehension 
Squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## Class 10


## nEsted For loop

In [1]:
lst1=["huzaifa", "abha ", "ahmed "]
lst2=["Shahid", "Aslam","Furqan"]

for name in lst1:
    for name2 in lst2:
        print(f"{name} {name2}")

huzaifa Shahid
huzaifa Aslam
huzaifa Furqan
abha  Shahid
abha  Aslam
abha  Furqan
ahmed  Shahid
ahmed  Aslam
ahmed  Furqan

In [11]:
lst1=["huzaifa", "abha ", "ahmed "]
lst2=["Shahid", "Aslam","Furqan"]

for name in lst1:
    print(f"{name} {lst2[lst1.index(name)]}")

huzaifa Shahid
abha  Aslam
ahmed  Furqan

 ### Data Stucture " Dictionary"

In [18]:
## Dictionary is identified by curly bracket ( Data stored in key and value)

Dictionary ={"name":"Saylani","campus":" Gulshan"}
              key      value       key     value

IndentationError: unexpected indent (Temp/ipykernel_4516/1652388731.py, line 4)

In [41]:
Dictionary ={"name":"Saylani","campus":" Gulshan"}

In [42]:
Dictionary["name"]

'Saylani'

In [43]:
Dictionary["campus"]

' Gulshan'

In [44]:
Dictionary["teacher"]="Nasir"     # adding a value by passing key

In [45]:
Dictionary

{'name': 'Saylani', 'campus': ' Gulshan', 'teacher': 'Nasir'}

In [46]:
Dictionary["teacher"]="kamran"   # Changing a value in

In [47]:
Dictionary

{'name': 'Saylani', 'campus': ' Gulshan', 'teacher': 'kamran'}

In [48]:
del Dictionary["teacher"]          # Deleting a value by

In [49]:
Dictionary

{'name': 'Saylani', 'campus': ' Gulshan'}

In [57]:
Score ={"rizwan":45, "aslam":50}

In [58]:
Score

{'rizwan': 45, 'aslam': 50}

In [55]:
Dictionary

{'name': 'Saylani', 'campus': ' Gulshan'}

In [61]:
for a in Score:
    print(a)

rizwan
aslam

In [63]:
for a in Score.keys():
    print(a)

rizwan
aslam

In [64]:
for a in Score.values():
    print(a)

45
50

In [65]:
for a in Score.items():          #item dono dega     #() ye tupple houta hai
    print(a)

('rizwan', 45)
('aslam', 50)

In [66]:
for key,value in Score.items():
    print(f"{key}  {value}")

rizwan  45
aslam  50

In [73]:
for key in Score.keys():
    print(Score[keys])

NameError: name 'keys' is not defined

## List in a Disctionary

In [16]:
list_in_dic={"students":["Nasir","fahad","yasir"],"Marks":[1,2,3]}
import pandas as pd          # tabular form 
pd.DataFrame(list_in_dic)

  students  Marks
0    Nasir      1
1    fahad      2
2    yasir      3

In [ ]:
list_in_dic["students"]

In [6]:
list_in_dic["Marks"]

[1, 2, 3]

In [7]:
list_in_dic["students"][1:3]

['fahad', 'yasir']

## Dictionary in a list

In [10]:
dic_in_list=[{"sales":[1,2,3]},{"games":["saad","asad","hamza"]},{"fahad":[1,2,3]}]

In [11]:
dic_in_list[0]                 #index diya hai

{'sales': [1, 2, 3]}

In [13]:
dic_in_list[0]["sales"][0]

1

In [19]:
dic_in_list={ "dic1":{"profit":[1,2,3,]},"dic2":{"games":["saad","asad","hamza"]}}    # Dictionay in Dictionary

In [20]:
dic_in_list["dic2"]["games"][2]

'hamza'

In [21]:
list_in_list=[[1,2,3],["asad","fahad"]]           # list in list

In [22]:
list_in_list[0][1]

2

## Class 13   While loop

In [1]:
count= 0
while count<5:
    print("python")
    count=count+1

python
python
python
python
python

In [2]:
Dictionary={"name":"huzaifa","father_name":"Waseem"}

In [3]:
count= 10
while count>0:
    print("python")
    count=count-1

python
python
python
python
python
python
python
python
python
python

In [3]:
count=0

while count<=20:
    if count%2==0:
        
        print(count)
    count=count+1

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
count=0                    

while count<=20:
    if count%2!=0:
        continue
        
        print(count)
count=count+1

In [10]:
best_friends=[]
while True:
    best_friend=input("Enter your best friend or press q for exit ")
    best_friends.append(best_friend)
    if best_friend=="q" or best_friend=="Q":
        break
best_friends.pop(-1)
print(best_friends)

Enter your best friend or press q for exit a
Enter your best friend or press q for exit sd
Enter your best friend or press q for exit d
Enter your best friend or press q for exit Q
['a', 'sd', 'd']

In [11]:
best_friends=[]
while True:
    best_friend=input("Enter your best friend or press q for exit ")
    
    if best_friend=="q" or best_friend=="Q":
        break
    else:
        best_friends.append(best_friend)
print(best_friends)

Enter your best friend or press q for exit a
Enter your best friend or press q for exit c
Enter your best friend or press q for exit v
Enter your best friend or press q for exit q
['a', 'c', 'v']

In [1]:
# using Flag variable 
best_friends=[]
flag=True
while flag:
    best_friend=input("Enter your best friend or press q for exit ")
    
    if best_friend=="q" or best_friend=="Q":
        flag=False
       
    else:
        best_friends.append(best_friend)
print(best_friends)

Enter your best friend or press q for exit a
Enter your best friend or press q for exit c
Enter your best friend or press q for exit v
Enter your best friend or press q for exit q
['a', 'c', 'v']

In [ ]:
list1=[]
flag =True
num=None
while flag:
    if num==0:
        break 
    else:
        
        num=int(input("enter Number "))
    
    
    list1.append(num)
    
print(sum(list1))

In [23]:
#from IPython.display import clear_output    # function for clear screen 

list1=[]
flag =True

while flag:
        num=input("enter Number ")
        
        if num=="q":
            flag= False
        list1.append(int(num))
print(sum(list1))

enter Number 5
enter Number 4
enter Number q

ValueError: invalid literal for int() with base 10: 'q'

In [31]:
total=0
fav_nums=input("Enter favourite number").split(",")
for num in fav_nums:
    if num==5:
        continue
    else:
        total=total+int(num)
print(total)

Enter favourite number5,5,5,5
20

In [41]:
list1=[1,2,3,4,5,6,7,8,9]
list2=[]

for a in list1:
    for b in list1:
        Sum=a+b
        if Sum >=10:
            list2.append(Sum)
list2

[10,
 10,
 11,
 10,
 11,
 12,
 10,
 11,
 12,
 13,
 10,
 11,
 12,
 13,
 14,
 10,
 11,
 12,
 13,
 14,
 15,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18]